* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.front {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.front .front-sec {
    width: 100%;
    height: auto;
    padding: 20rem 14rem;
    display: flex;
    justify-content: space-between;
}

.front-sec-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.front-sec-right {
    right: 0;
    position: relative !important;
    width: 75.3rem;
    height: 51.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.front-sec-right img {
    width: 75.3rem;
    height: 51.4rem;
    z-index: -1;
}

.front-left-content {
    text-align: left;
    width: 100%;
    height: 100%;
}

.front-left-content p {
    color: #6A6A6A;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    width: 76.6rem;
    margin-top: 4rem;
    height: 21rem;
}

.front-left-content h3 {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 3rem;
    color: #04060A;
    margin-bottom: 2rem;
}

.front-left-content h2 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 8rem;
    color: #04060A;
}

.front-left-content button {
    width: 12rem;
    height: 5.4rem;
    color: #fff;
    background: #41A8F5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    border: none;
    cursor: pointer;
}

.jobs-sec {
    margin: 0;
    padding: 0;
    width: 22.0rem !important;
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
}

.job {
    width: 8rem;
    height: 6rem;
    margin: 0;
    padding: 0;
    margin-right: 8.5rem;
    margin-bottom: 5rem;
}

.jobs-sec p {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    color: #6A6A6A;
    line-height: 3rem;
}

.jobs-sec h1 {
    font-size: 3.6rem;
    color: #41A8F5;
    font-weight: 500;
    line-height: 3rem;

}


.front-sec-right .box {
    position: absolute;
    height: 27.8rem !important;
    width: 24.9rem !important;
    top: 34.8rem;
    left: 6.2rem;
    z-index: 9999 !important;
    background-color: #41A8F5;
}

.front-sec-right .box img {
    width: 100%;
    height: 100%;
}